$color-primary: #b2d235;
// $color-primary-light:

$color-secondary: #415093;
$color-tertiary: #ffbd14;
$color-dark: #363639;

$color-white: #fff;

$color-grey: #f3f3f3;

// FONTS
$font-primary: "Poppins", sans-serif !important;
$font-display: "muli", sans-serif !important;